html {
  overflow-y: unset;
  user-select: none;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(211, 211, 211, 20%);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(211, 211, 211, 40%);
}
